<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194386148836-k9jm0k9c88r74tiu664m5s0c4su32jod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194386148836-k9jm0k9c88r74tiu664m5s0c4su32jod</string>
	<key>API_KEY</key>
	<string>AIzaSyDvSIK17_HEjkIXHByu8uRTf-ngBrbSRxk</string>
	<key>GCM_SENDER_ID</key>
	<string>194386148836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.liyi4.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>sage-philosophy-276211</string>
	<key>STORAGE_BUCKET</key>
	<string>sage-philosophy-276211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194386148836:ios:6cb51ce3ff541118849bf1</string>
	<key>DATABASE_URL</key>
	<string>https://sage-philosophy-276211.firebaseio.com</string>
</dict>
</plist>